[all]
{%- for master in masters %}
{{ master }} ansible_host={{ masters[master].HostName }} ansible_ssh_port={{ masters[master].Port }} ip={{ masters[master].HostName }}
{%- endfor %}

{%- for worker in workers %}
{{ worker }} ansible_host={{ workers[worker].HostName }} ansible_ssh_port={{ workers[worker].Port }} ip={{ workers[worker].HostName }}
{%- endfor %}

[kube-master]
{%- for master in masters %}
{{ master }}
{%- endfor %}

[kube-node]
{%- for worker in workers %}
{{ worker }}
{%- endfor %}

[etcd]
{%- for master in masters %}
{{ master }}
{%- endfor %}

[load-balancer]

[kube-input]

[kube-output]

[calico-rr]

[k8s-cluster:children]
kube-master
kube-node